.boton-grand{
	padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	border-radius: 8px;
}

.boton-peq{
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
}

.botonVerde {
    background-color:#8BC34A ;
    border: none;
    color: white;
}

.botonBlanco{
	background-color: white ;
    border: 2px #8BC34A groove;
    color: #8BC34A;
}

.botonNaranja{
    background-color:#D46E00 ;
    border: none;
    color: white;
}

.botonLogin{
    min-width: 100px;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
}

#botonCambiar{
    margin-left: 12.5%;
    margin-top: 5%;
    width: 75%;
}

#botonPremium {
    margin-left: 10%;
    margin-top: 10%;
}

#botonCancelar {
   /* margin-left: 10%;*/
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
}

#botonEnviar {
    border: 2px #8BC34A solid; 
    margin-left: 3%;
    float: right;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 1%;
}

#botonMascotaMensajes{
    margin-top: 2%;
}

#botonRedactarCorreo{
    float: right;
    margin-right: 2%;
}
