header{
	display:flex;
	height: 100px;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
	min-width:650px;
}

#logoCabecera{
	width: 15%;
	min-width: 100px;
	height: 100%;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#barraBusqueda{
	min-height: 35px;
	display: flex;
	flex-direction: row;
	width: 60%;
	height:20%;
	margin: 50px;
	min-width:150px;
}

#busquedaEntrada{
	width: 92%;
	border-radius: 10px;
}

#lupa{
	width: 5%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 10px;
	border-style: outset;
    border-width: 2px;
    border-color: buttonface;
}

#camposLogin{
	width: 25%;
	float: right;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#linea1{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#login{
	margin-left: 7%;
}

#linea2{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#signup{
	margin-left: 7%;
}

#logoCorreo{
	margin-right: 15px;
	margin-top: 50px;
	width: 50px;
	height: 30px;
	min-width:50px;
	min-height:30px;
	background: url("assets/images/logoCorreo.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}