.listaIconos{
	margin-top: 5%;
	margin-left: 10%;
}

.iconos{
	text-align: center;
	float: left;
	width: 125px;
	height: 100px;
	color: black;
	padding: 0;
	font-size: 25px;
	margin-right: 5%;
}

.iconos img{
    max-width: 85px;
    max-height: 85px;
}

.pestana {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.contenidoInformacion{
	display: none;
}

.pestana:hover {
	background-color: #ddd;
}

.informacion-estatica{
	width: 90%;
	margin-top: 20%;
	margin-left: 5%;
	list-style: none;
	border: solid black;
	border-width: thin;
	border-radius: 5px;
	background-color: white;
	opacity: 0.9;
	color: black;
	max-height: 80%;
	padding: 0;
	overflow-y: scroll; 
}

.informacion-estatica li {
	margin-top: 2%; 
    display: inline-block;
    width: 100%;
}

.informacion-estatica li img {
	float: right;
    margin-right: 2%;
    width: 150px;
    height:150px;
}

.informacion-estatica li p {
    width: auto;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20px;
}
#titulo-estatica{
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	color: #D46E00;
}

.textoEst{
	margin-bottom: 30px;
}
#subrayarTitulos{
	text-decoration: underline;
}