.formulario{
	max-height: 115%; 
}

#tituloCuadro{
	font-size: 50;
}

.campo{
	width: 100%;
}

.camposDatos *{
	margin-top: 10px;
	margin-bottom: 10px;
}


.fotoEsp{
	margin-left: 6%;
	min-height: -webkit-min-content;
}

.fotoPerfil{
	background: url("assets/images/imagenRegistro.jpg") top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 30%;
}
