.mastabcontent{
	margin-top: 2%;
}

.listaMensajes{
	border: 2px #8BC34A groove;
}

.listaMensajes tr{
	border: groove;
}
.opcionesMensajes{
	margin-bottom: 1%;
	margin-top: 2%;
}

.mastabcontent{
	display: none;
}

.mentabcontent{
	display: none;
}