.barraPestanas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.pestana {
	float: left;
}

.pestana {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.pestana:hover {
	background-color: #ddd;
}

.pestana:focus, .active {
	background-color: #ccc;
}

.contenidoPestana {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.fotoPerfilCambiar{
	/*height: 420px;*/
	background: url("assets/images/oficio.jpg") top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 30%;
	width: 30%;
}

.cajaCambiarFoto{
	width: 40%;
	/*height: 55%;*/
	min-height: -webkit-min-content;
	min-width: 280px;
	/*max-height: 400px;*/
	position: fixed;
	margin-left: 30%;
	margin-top: 200px;
	border-style: groove;
	background-color: white;
	border-color: #8BC34A;
	border-width: 2px;
	border-radius: 5px;
}
@media only screen and (max-width: 991px){
	.cajaCambiarFoto{
		width: 40%;
		/*height: 55%;*/
		min-height: -webkit-min-content;
		min-width: 280px;
		/*max-height: 400px;*/
		position: fixed;
		margin-left: 25%;
		margin-top: 200px;
		border-style: groove;
		background-color: white;
		border-color: #8BC34A;
		border-width: 2px;
		border-radius: 5px;
	}
}
@media only screen and (max-width: 767px){
	.cajaCambiarFoto{
		width: 40%;
		/*height: 55%;*/
		min-height: -webkit-min-content;
		min-width: 280px;
		/*max-height: 400px;*/
		position: fixed;
		margin-left: 7%;
		margin-top: 200px;
		border-style: groove;
		background-color: white;
		border-color: #8BC34A;
		border-width: 2px;
		border-radius: 5px;
	}
}