@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}
#cabecerilla{

	height: 20%;
	max-height: 100%;

}
#cuerpo{
	height: 80%;

}
body{
	color: #33691E;
	font-family: 'Primary Italics';
	font-size: 30;
	background: url("assets/images/fondoPetZeal_1.png") center;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #DCEDC8;
}
header{
	display:flex;
	height: 100px;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}
img{
	border: none;
}


#logoCabecera{
	width: 15%;
	min-width: 100px;
	height: 100%;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#barraBusqueda{
	min-height: 35px;
	display: flex;
	flex-direction: row;
	width: 60%;
	height:20%;
	margin: 50px;
}

#busquedaEntrada{
	width: 92%;
}
#lupa{
/*
	width: 8%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 75%;*/
	width: 5%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#camposLogin{
	width: 25%;
	float: right;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
#login{
	margin-left: 7%;
}

#linea2{
	
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#signup{
	margin-left: 7%;
}

.listado-posts{

	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
	list-style: none;
	border: solid black;
	background-color: #DCEDC8;
	border-width: thin;
	opacity: 0.9;
	color: black;
	padding: 0;
	overflow-y: scroll;
	max-height: 100%

}
.caja-left{
	float: left;

}
.caja-right{
	float: right;

}
.listado-posts li {

	margin-top: 2%; 
    display: inline-block;
    width: 100%;
}

.listado-posts li img {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 85px;
    height: 85px;
}

.listado-posts li p {
    float: left;
    width: auto;
    
}
.listado-especies{
	border-width: thin;
	width: 90%;
	opacity: 0.9;
	margin: 0 auto;
	border: solid black;
	color: black;
	height: 72%;
	padding: 0;
	overflow: hidden;
}
.listado-especies li {
	margin-top: 2%; 
    display: inline-block;
    width: 100%;
}

.listado-especies li img {
    float: left;
    margin-right: 2%;
    width: 85px;
    height: 85px;
}

.listado-especies li p {
    
    text-align: center;
    font-size: 25;
    
}

.caja-posts{

	width: 90%;
	min-height: 120px;
	margin: 35 auto;
	list-style: none;
	border: solid black;
	border-width: thin;
	border-radius: 5px;
	background-color: white;
	opacity: 0.9;
	color: black;
	max-height: 100%;
	padding: 0;

	
}

.caja-posts li {

	margin-top: 2%; 
    display: inline-block;
    width: 100%;
}

.caja-posts li img {

	float: left;
    margin-right: 2%;
    width: 85px;
    height: 85px;
}

.caja-posts li p {
   
    width: auto;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20px;
}
#titulo{
	font-size: 25px;


}
.info-list-cont{
	float: right;
	margin: 0;
	padding: 0;
	font-size: 17px;	
}
.cabecera{

	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
	background-color: #8BC34A;
	font-family: 'Primary Italics';
	font-size: 30px;
	border: solid black;
	border-width: thin;
	border-radius: 5px;

}
#resultadoBusqueda{
	margin-left: 4%;


}
#numeroElementosBusqueda{
	border-radius: 5px;
	width: 90%;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Primary Italics';
	font-size: 30px;
	border: solid black;
	border-width: thin;
	border-radius: 5px;

}
.info-list-cont{
	float: left;
	margin: 0;
	padding: 0;
	font-size: 17px;	
}
.boton{

    background-color: #D46E00;
    border: 1%;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
}
#cuadro-comentario{
	float: right;
	margin-right: 5%;
	width: 90%;
	height: 15%;

}
.addcomentario{
	margin-top: 10%;

}
#botoncomentar{

	float: right;
	font-size: 15px;
	margin-bottom: 5%;

}

#botonLike{
	margin-right: 5%;
	float: right;
	font-size: 15px;

}
