header{
	width:100%;
	min-height: 20%;
}

#logoCabecera{
	min-height: 10%;
}
#barraBusqueda{
	min-height: 20%;
	padding-top: 4%;
   
}

#lupa{
	max-height: 5%;
	max-width: 5%;
}

#camposLogin{
	float: right;
}
#datosMascota fieldset{
	min-height: 80%;
    display: flex;
}
#fotoMascota{
	min-height: 80%;
}

#fotoMascota  * {
	margin-left: 25%;
}
#fotoPerfilMascota{
}