@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

header{
	display:flex;
	height: 100px;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

body{
	color: #33691E;
	font-family: 'Primary Italics';
	font-size: 30;
	background: url("assets/images/fondoPetZeal_1.png") center;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #DCEDC8;
}
em{
	color: #D46E00;
}

fieldset{
	display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
	border: 2px groove threedface;
	min-height: -webkit-min-content;
}

img{
	border: none;
}

#logoCabecera{
	width: 15%;
	min-width: 100px;
	height: 100%;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#barraBusqueda{
	min-height: 35px;
	display: flex;
	flex-direction: row;
	width: 60%;
	height:20%;
	margin: 50px;
}

#busquedaEntrada{
	width: 92%;
}
#lupa{
/*
	width: 8%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 75%;*/
	width: 5%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#camposLogin{
	width: 25%;
	float: right;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#linea1{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#login{
	margin-left: 7%;
}

#linea2{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#signup{
	margin-left: 7%;
}



#camposDatos *{
	margin-top: 10px;
	margin-bottom: 10px;
}

.campo{
	width: 100%;
}

.info{
	display:inline-block;
	font-size: 30;
	/*line-height: 1.5;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

#formulario{
	max-height: 115%; /*NO ME MOLA NADA ESTO pero queda bien*/
	margin-top: 5%;
}

#tituloCuadro{
	font-size: 50;
}

.boton{
	padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	border-radius: 8px;
}

.botonVerde {
    background-color:#8BC34A ;
    border: none;
    color: white;
}

.botonBlanco{
	background-color: white ;
    border: 2px #8BC34A groove;
    color: #8BC34A;
}

.botonNaranja{
    background-color:#D46E00 ;
    border: none;
    color: white;
}

#botonCambiar{
    margin-left: 12.5%;
	margin-top: 5%;
	width: 75%;
}

#botonPremium {
    margin-left: 10%;
    margin-top: 17%;
}

#cuadroBaja{
	height: 15%;
}

#confirmacion{
	margin-bottom: 10px;
}

#fotoEsp{
	margin-left: 6%;
	/*height: 550px;*/
	min-height: -webkit-min-content;
}

#fotoPerfil{
	/*height: 420px;*/
	background: url("assets/images/imagenRegistro.jpg") top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 30%;
}

#fotoPerfil_Usu{
	/*height: 420px;*/
	background: url("assets/images/oficio.jpg") top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 30%;
}

#fotoPerfilCambiar{
	/*height: 420px;*/
	background: url("assets/images/oficio.jpg") top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 30%;
	width: 30%;
}

.botoneraConfirmacion .boton{
	margin-right:10px;
	margin-left:5%;
	/*float:right;*/
}

.botoneraConfirmacion #botonHecho{
	margin-left:5%;
	margin-right:10px;
	/*float:left;*/
}

.cajaFlotanteCentral{
	width: 40%;
	/*height: 55%;*/
	min-height: -webkit-min-content;
	min-width: 280px;
	/*max-height: 400px;*/
	position: fixed;

	margin-left: 10%;
    margin-top: 200px;
    border-style: groove;
    background-color: white;
    border-color: #8BC34A;
    border-width: 2px;
	border-radius: 5px;
}

.mensajeConfirmacion{
  margin-top: 2%;
	text-align: center;
	font-size: 1.3em;
}

.botoneraConfirmacion{
	/*margin-top: 10%;*/
	position: relative;
	margin-bottom: 55px;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {
	float: left;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
	background-color: #ddd;
}

ul.tab li a:focus, .active {
	background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.cajaCambiarFoto{
	width: 40%;
	height: 55%;
	min-height: -webkit-min-content;
	min-width: 280px;
	/*max-height: 400px;*/
	position: fixed;

	margin-left: 10%;
    margin-top: 200px;
    border-style: groove;
    background-color: white;
    border-color: #8BC34A;
    border-width: 2px;
	border-radius: 5px;
}
