@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

header{
	display:flex;
	height: 100px;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

body{
	color: #33691E;
	font-family: 'Primary Italics';
	font-size: 30;
	
	background: url("assets/images/fondoPetZeal_1.png") center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #DCEDC8;
}
em{
	color: #D46E00;
}


#logoCabecera{
	width: 15%;
	min-width: 100px;
	height: 100%;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#barraBusqueda{
	min-height: 35px;
	display: flex;
	flex-direction: row;
	width: 60%;
	height:20%;
	margin: 50px;
}

#busquedaEntrada{
	width: 92%;
}
#lupa{
/*
	width: 8%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 75%;*/
	width: 5%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#camposLogin{
	width: 25%;
	float: right;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#linea1{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#login{
	margin-left: 7%;
}

#linea2{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#signup{
	margin-left: 7%;
}

#botonHecho {
    background-color:#8BC34A ; /*#4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
	border-radius: 8px;
}

fieldset{
	display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
	border: 2px groove threedface;
	height: 100%;
}
#miMascota{
	height: 80%;
}

#contenedorMiMascota{
	width: 90%;
	margin-left: 5%;
}

#datosMascota{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 45%;
	margin-right: 5%;
}

#fotoMascota{
	width: 45%;
	margin-left: 5%;
	height: 550px;
}

#fotoMascota  .boton {
	background-color: white ;
    border: 2px #8BC34A groove;
    color: #8BC34A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	border-radius: 8px;
	
	margin-left: 12.5%;
	margin-top: 5%;
	width: 75%; 
}
#fotoPerfilMascota{
	height: 420px;
	background: url("assets/images/perroInfoMascota.jpg") top;
	background-repeat: no-repeat;
	background-size: 100%;
}

#postMascota{
	height: 80%;
}

.mensajeConfirmacion{
    margin-top: 2%;
	text-align: center;
	font-size: 1.3em;
}

.botoneraConfirmacion{
	margin-left: 20%;
	margin-top: 10%;
}
.fotoPerfilMascota{
	max-height: 360px;
	max-width: 280px;
	height: 60%;
	width: 100%;
	min-height: 100px;
	min-width: 77.77px;
}
.scrollDiv{
	height: 95%;
	overflow-y: scroll;
}

.postLargo{
	width: 100%;
	height: 100px;
	display: flex;
	margin-bottom: 5px;
}

.fotoPostLargo{
	width: 15%;
	height: 100%;
	background: url("assets/images/perroInfoMascota.jpg") top;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
}

.contenidoPostLargo{
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-left: 2%;
}
.boton{
	background-color: white ;
    border: 2px #8BC34A groove;
    color: #8BC34A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	border-radius: 8px;
	margin-left: 30%;
}

.cajaFlotanteCentral{
	width: 40%;
    height: 40%;
	max-height: 250px;
    position: fixed;
    margin-left: 30%;
    margin-top: 25%;
    border-style: groove;
    background-color: white;
    border-color: #8BC34A;
    border-width: 2px;
	border-radius: 5px;
}


