@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

header{
	width:100%;
	height: 20%;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50px;
}

body{
	color: #33691E;
	background-color: #DCEDC8;
	font-family: 'Primary Italics';
	font-size: 30px;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-color: #DCEDC8;
	padding: 0;
	margin: 0;
}


.anadir-mascota{
	border: 2px solid black;
	height: 70%;
	margin: 0 50;
	width: 500px;
	float: left;
	display: block;
	text-align: center;

	
}

.anadir-mascota p{
	margin-top: 30%;
}

#anadir{
	width: 50px;
	
}

#logoPrincipal{
	  margin-left: 8%;
}

#botonRegistro{
	margin-top: 60%;
	margin-left: 45%;
}

#logoCabecera{
	height: 100%;
}
#barraBusqueda{
	min-height: 20%;
	padding-top: 4%;
   
}

#lupa{
	max-height: 5%;
	max-width: 5%;
}

#camposLogin{
	float: right;
}

.listado-posts{
	width: 90%;
	margin: 0 auto;
	list-style: none;
	border: solid black;
	color: black;
	
	padding: 0;
	
	overflow-y: scroll;

}

.listado-posts li {
    display: inline-block;
    width: 100%;
}

.listado-posts li img {
    float: left;
    width: 85px;
    height: 85px;
}

.listado-posts li p {
    float: left;
    
}.listado-mascotas{
	width: 90%;

	list-style: none;
	border: solid black;
	color: black;
	margin: 0 auto;
	padding: 0;
	
	overflow-y: scroll;

}

.listado-mascotas li {
    display: inline-block;
    width: 100%;
}

.listado-mascotas li img {
    float: left;
    width: 85px;
    height: 85px;
}

.listado-mascotas li p {
    float: left;
    
}

.cabecera{
	width: 90%;
	margin: 0 auto;
	background-color: #8BC34A;
	font-family: 'Primary Italics';
	font-size: 30px;
	border-top: solid black; 
	border-right: solid black;
	border-left: solid black;

}.cabecera-medio{
	width: 90%;
	margin: 0 auto;
	background-color: #8BC34A;
	font-family: 'Primary Italics';
	font-size: 30px;
	border-top: solid black; 
	border-right: solid black;
	border-left: solid black;
}



.info-list-cont{
	float: right;
	margin: 0;
	padding: 0;
	font-size: 17px;	
}


#cuadradoAnadir{
	height: 500px;
	font-family: 'Primary Italics';
	font-size: 25;


}


#medio{
	padding-left: 35%;
}
