@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

header{
	width:100%;
	height: 10%;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

body{
	color: #33691E;
	background-color: #DCEDC8;
	font-family: 'Primary Italics';
	font-size: 30;
}
em{
	color: #D46E00;
}

#logoCabecera{
	width: 10%;
	height: 100%;
}

#barraBusqueda{
	min-height: 20%;
	/*padding-top: 0%;*/
	padding-left: 10%
}

#lupa{
	max-height: 3%;
	max-width: 3%;
}

#camposLogin{
	float: right;
	height: 100%;
	display: block;
}

#formulario{
	max-height: 80%;
}

#tituloCuadro{
	font-size: 50;
}

#camposRegistro{
	display: flex;
	flex-direction: column;
}

#botones{
	flex-direction: row;
}

@media (max-width: 991px){

}

@media (max-width: 767px){

}