@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}
header{
	display: flex;
	height: 15%;
	background-color: #8BC34A;
	/*position: fixed;*/
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

body{
	color: #33691E;
	font-family: 'Primary Italics';
	font-size: 30;
	background: url("assets/images/fondoPetZeal_2.png") center;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #DCEDC8;
}
em{
	color: #D46E00;
}

fieldset{
	display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
	border: 2px groove threedface;
	min-height: -webkit-min-content;
}

img{
	border: none;
}
#logoCabecera{
	width: 15%;
	min-width: 100px;
	height: 100%;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#barraBusqueda{
	min-height: 35px;
	display: flex;
	flex-direction: row;
	width: 60%;
	height:20%;
	margin: 50px;
}

#busquedaEntrada{
	width: 92%;
}
#lupa{
/*
	width: 8%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 75%;*/
	width: 5%;
	height: 100%;
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#camposLogin{
	width: 25%;
	float: right;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#linea1{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#login{
	margin-left: 7%;
}

#linea2{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#signup{
	margin-left: 7%;
}


.anadir-mascota li{
	width: 100%;
	margin: 10 35%;
}

.anadir-mascota  li img{
	margin: 0 15%;
	
}

#anadir{
	width: 50px;
	
}

.div-cuerpo{

	height: 78%;
}
.listado{

	width: 90%;
	max-height: 100%;
	margin: 0 auto;
	list-style: none;
	border: solid black;
	color: black;
	padding: 0;	
	overflow-y: scroll;
}

.listado li {
    
 	margin-top: 2%;
    display: inline-block;
    width: 100%;
}

.listado li img {
    float: left;
    margin-right: 2%;
    width: 85px;
    height: 85px;
}

.listado li p {

    float: left;
    
}.listado-mascotas{
	width: 90%;
	height: 87%;
	list-style: none;
	border: solid black;
	color: black;
	margin: 0 auto;
	padding: 0;
	overflow-y: scroll;

}

.listado-mascotas li {
    background-color: #DCEDC8; 
	margin-top: 2%;
    display: inline-block;
    width: 100%;
}

.listado-mascotas li img {
	
    float: left;
    margin-right: 2%;
    width: 150px;
    height: 150px;
}

.listado-mascotas li p {

    float: left;
    
}
.listado-mascotas li input{
	margin-top: 40;
    float: right;
    
}

.lista-mascotas{
	width: 90%;

	margin: 0 auto;
}

.lista-mascotas img {
    
    width: 70px;
    height: 70px;
}

#subir-publicacion {
	margin-top: 2%;
    display: inline-block;
    width: 100%;
}
#subir-publicacion-foto{
    float: left;
    width: 100px;
    height: 100px;
}

#cuadro-descripcion{
	width: 78%;
	height: 10%;
}

.cabecera{ 
	width: 90%;
	margin: 0 auto;
	background-color: #8BC34A;
	font-family: 'Primary Italics';
	font-size: 30px;
	border-top: solid black; 
	border-right: solid black;
	border-left: solid black;

}.cabecera-medio{
	width: 90%;
	margin: 0 auto;
	background-color: #8BC34A;
	font-family: 'Primary Italics';
	font-size: 30px;
	border-top: solid black; 
	border-right: solid black;
	border-left: solid black;
}



.info-list-cont{
	float: right;
	margin: 0;
	padding: 0;
	font-size: 17px;	
}


#cuadradoAnadir{
	height: 500px;
	font-family: 'Primary Italics';
	font-size: 25;
}


#medio{
	padding-left: 35%;
}

.boton{
	padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 5px;

}.boton-medio{
	padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 5px;

}

.botonNaranja{
    background-color:#D46E00 ;
    border: none;
    color: white;
}


#centrar{
	width: 100%;

}
.centro{
	margin: 40%;
	margin-top: 15%;
}