@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

header{
	height: 10%;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

body{
	color: #33691E;
	font-family: 'Primary Italics';
	font-size: 30;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-color: #DCEDC8;
}
em{
	color: #D46E00;
}

#logoCabecera{
	height: 100%;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#barraBusqueda{
	min-height: 25px;
	padding-top: 2%;
	padding-left: 10%;
	display: flex;
	flex-direction: row;
}

#lupa{
	background: url("assets/images/lupa.png") center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#camposLogin{
	float: right;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#linea1{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#login{
	margin-left: 7%;
}

#linea2{
	height: 25px;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

#signup{
	margin-left: 7%;
}




#formulario{
	max-height: 80%;
	margin-top: 15%;
}

#tituloCuadro{
	font-size: 50;
}

#camposRegistro{
	display: flex;
	flex-direction: column;
}

#botones{
	flex-direction: row;
}

@media (max-width: 991px){

}

@media (max-width: 767px){

}