@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

header{
	width:100%;
	height: 20%;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

body{
	color: #33691E;
	background-color: #DCEDC8;
	font-family: 'Primary Italics';
	font-size: 30;
	background: url("assets/images/logotipo.png") center;
	background-repeat: no-repeat;
	background-color: #DCEDC8;
}
em{
	color: #D46E00;
}

article{
	
	color: #33691E;
	background-color: #DCEDC8;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

#centro{
	  display: flex;
	  flex-direction: column;

}

#logoPrincipal{
	  margin-left: 8%;
}

#botonRegistro{
	margin-top: 60;
	margin-left: 45%;
}

#logoCabecera{
	height: 100%;
}
#barraBusqueda{
	min-height: 20%;
	padding-top: 4%;
   
}

#lupa{
	max-height: 5%;
	max-width: 5%;
}

#camposLogin{
	float: right;
}
table {
       border: solid black;
       color:black;
       margin-left: 5%;
       
}
#borde{
	border: solid black;
}
#cabecera{
	border: solid black;
	background-color: #8BC34A;
	font-family: 'Primary Italics';
	font-size: 25;
}

#posts1{
	width: 100px;
}
