#areaTexto{
	margin: 0px; 
	width: 509px; 
	height: 76px;
	margin-top: 2px;
}
#areaTitulo{
	margin: 0px; 
	width: 509px; 
	margin-top: 2px;
}

#especialFont{
	font-size: 25px;
}

#buscaUsuario{
	width: 409px;
}

#botonesArticulo{
	margin-top: 5px;
}

.boton{
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

.cajaFlotanteCentral{
		width: 510px; 

}
.listaMensajes{
	border: solid;
	table-layout: auto;
}
.listaMensajes tr{
	border: groove;
}

.listaMensajes td{
	width: 50%;
}
.mastabcontent{
	display: none;
}
.mentabcontent{
	display: none;
	border: medium;
}

