@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

header{
	width:100%;
	height: 20%;
	background-color: #8BC34A;
	color: white;
	font-family: 'Primary Italics';
	font-size: 50;
}

body{
	color: #33691E;
	background-color: #DCEDC8;
	font-family: 'Primary Italics';
	font-size: 30;
}
em{
	color: #D46E00;
}

#logoCabecera{
	min-width: 20%;
	max-height: 100%;
}
#barraBusqueda{
	min-width: 60%;
	max-height: 100%;
}
#lupa{
	max-height: 2%;
	max-width: 2%;
}
#camposLogin{
	max-width: 50%;
	max-height: 100%;
}

#formulario{
	max-height: 70%;
}

#tituloCuadro{
	font-size: 50;
}

#camposRegistro{
	
}