@font-face {
    font-family: 'Primary Italics'; /*a name to be used later*/
	src: url('assets/fonts/Primary Italics.ttf');
}

body{
	color: #33691E;
	font-family: 'Primary Italics';
	font-size: 30;
	background: url("assets/images/fondoPetZeal_1.png") center;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #DCEDC8;
}
em{
	color: #D46E00;
}

fieldset{
	display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
	border: 2px groove threedface;
	min-height: -webkit-min-content;
}

img{
	border: none;
}

@import url("./cabecera.css");
@import url("./formularios.css");
@import url("./estatica.css");
@import url("./msn.css");